{% extends 'rejestracja/base.html' %}
{% load static %}
{% block content %}

<div class="container">
<div class="row">


      <div class="col-sm-12 ">

      <img class="d-block mx-auto mb-4" src="https://raw.githubusercontent.com/spsp01/kcal/master/static/img/doctor-male.jpg" alt="Dietetyk Jan Kowalski" >
      <p class="text-center">Dietetyk Jan Kowalski</p>

  </div>
</div>
    <div class="container">
 <div class="col-md-4">
    <div class="row">
        <div class="col-md-4"></div> <!-- this column empty -->
        <div class="col-md-4"> <p>Poniedziałek</p>

            {%for i in godziny%}
            <button id ="{{i}}" class ='btn btn-primary btn-xs btn-block'>{{i}}</button>
        {%endfor%} </div>
        <div class="col-md-4"><p>Wtorek</p>
            {%for i in godziny%}
            <button class ='btn btn-primary btn-xs btn-block'>{{i}}</button>
        {%endfor%} </div>
    </div>
</div>

<div class="col-md-8">
    <div class="row">
        <div class="col-md-2"> <p>Środa</p>
            {%for i in godziny%}
            <button class ='btn btn-primary btn-block'>{{i}}</button>
        {%endfor%} </div>
        <div class="col-md-2"> <p>Czwartek</p>
            {%for i in godziny%}
            <button class ='btn btn-primary btn-xs btn-block'>{{i}}</button>
        {%endfor%} </div>
        <div class="col-md-2"><p> Piątek</p>
            {%for i in godziny%}
            <button class ='btn btn-primary btn-xs btn-block'>{{i}}</button>
        {%endfor%} </div>
        <div class="col-md-2"><p>Sobota</p>
            {%for i in godziny%}
            <button class ='btn btn-primary btn-xs btn-block'>{{i}}</button>
        {%endfor%} </div>
        <div class="col-md-2"><p>Niedziela</p>
            {%for i in godziny%}
            <button class ='btn btn-primary btn-xs btn-block'>{{i}}</button>
        {%endfor%} </div>
        <div class="col-md-2"></div> <!-- this column empty -->
    </div>
</div>
    </div>
    </div>
</div>
        <div class="container">
             <section>

                {{forms.as_p}}
                 {{forms.godzina}}
</section>
        </div>


<!--<table>-->


    <!--{% for i in godziny %}-->

<!--<tr>-->
    <!--<td>{{i}}</td>-->
    <!--{% for d in dni %}-->
            <!--<td><button>{{i}}</button></td>-->
    <!--{% endfor %}-->
<!--</tr>-->
          <!--{%endfor %}-->
 <!--</table>-->
        <script>
            $('#target').weekly_schedule();
            $('.schedule').on('selectionmade', function() {
                console.log("Selection Made");
            }).on('selectionremoved', function() {
                console.log("Selection Removed");
            });


        </script>


{% endblock %}