{% extends 'rejestracja/base.html' %}
{% load static %}
{% block content %}

<!-- The Modal -->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Potwierdzenie rejestracji</h4>
            </div>

            <!-- Modal body -->
            <div id="modal-text" class="modal-body">
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <a href="/">
                    <button type="button" class="btn btn-danger">Powróć do strony głównej</button>
                </a>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">

        <div class="col-sm-12 ">

            <div class="card mt-5 ">
                <div id="dietetykcard" class="card-block">
                    {% if request.path == '/jan-kowalski' %}
                    <img class="d-block mx-auto mb-4" src="{% static 'img/doctor-male.jpg' %}"
                         alt="Dietetyk Jan Kowalski">
                    <div id="text-top">
                        <p class="text-center">Dietetyk </p>
                        <h1 class="text-center">Jan Kowalski</h1>
                    </div>
                    {% else %}
                    <img class="d-block mx-auto mb-4" src="{% static 'img/doctor-female.png' %}"
                         alt="Dietetyk Ada Wspaniała">
                    <div id="text-top">
                        <p class="text-center">Dietetyk </p>
                        <h1 class="text-center">Ada Wspaniała</h1>
                    </div>
                    {% endif %}


                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <section id="formi" class="hidden mb-5" style="display: none">
        <div class="card mt-5 mb-5">
            <div class="card-block pb-4">
                <h2 class="text-center mt-2">
                    Formularz rejestracji do dietetyka
                </h2>
                <h3 class="text-center">na godzinę <span id="godzina_tekst"></span></h3>
                <h4 class="text-center">w najbliższy <span id="dzien_tekst"></span></h4>

                <div class="container">
                    <div class="row">
                        <div class="col">

                        </div>
                        <div class="col">
                            <div id="blad1" class="alert alert-danger" role="alert" style="display: none">
                                Błąd
                            </div>
                            <form id="frm1" class="text-center" method="POST" action="/jan-kowalski">
                                {% csrf_token %}
                                {{forms.as_p}}
                                <input class="btn btn-success" type="submit" value="Zarejestruj">
                            </form>
                        </div>
                        <div class="col">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

<div class="container">
    <p class="text-center mt-4">Dostępne godziny rejestracji dla pacjentów</p>
    <p class="text-center ">Wybierz godzinę</p>
    <div class="row seven-cols">
        <div id="1" class="col-md-1"><p>Poniedziałek</p>
            {%for i in godziny%}
            <button onclick="handleSelect(this.id, this.innerText)" id="{{i | cut:':'}}1"
                    class='btn btn-primary btn-xs btn-block'>{{i}}
            </button>
            {%endfor%}
        </div>
        <div class="col-md-1">
            <p>Wtorek</p>
            {%for i in godziny%}
            <button onclick="handleSelect(this.id, this.innerText)" id="{{i | cut:':'}}2"
                    class='btn btn-primary btn-xs btn-block'>{{i}}
            </button>
            {%endfor%}
        </div>
        <div class="col-md-1">
            <p>Środa</p>
            {%for i in godziny%}
            <button onclick="handleSelect(this.id, this.innerText)" id="{{i | cut:':'}}3"
                    class='btn btn-primary btn-xs btn-block'>{{i}}
            </button>
            {%endfor%}
        </div>
        <div class="col-md-1">
            <p>Czwartek</p>
            {%for i in godziny%}
            <button onclick="handleSelect(this.id, this.innerText)" id="{{i | cut:':'}}4"
                    class='btn btn-primary btn-xs btn-block'>{{i}}
            </button>
            {%endfor%}
        </div>
        <div class="col-md-1">
            <p>Piątek</p>
            {%for i in godziny%}
            <button onclick="handleSelect(this.id, this.innerText)" id="{{i | cut:':'}}5"
                    class='btn btn-primary btn-xs btn-block'>{{i}}
            </button>
            {%endfor%}
        </div>
        <div class="col-md-1">
            <p>Sobota</p>
            {%for i in godziny%}
            <button onclick="handleSelect(this.id, this.innerText)" id="{{i | cut:':'}}6"
                    class='btn btn-primary btn-xs btn-block'>{{i}}
            </button>
            {%endfor%}
        </div>
        <div class="col-md-1">
            <p>Niedziela</p>
            {%for i in godziny%}
            <button onclick="handleSelect(this.id, this.innerText)" id="{{i | cut:':'}}7"
                    class='btn btn-primary btn-xs btn-block'>{{i}}
            </button>
            {%endfor%}
        </div>
    </div>
</div>


<script>
  $(document).ready(function(){
  {% if request.path == '/jan-kowalski' %}
    {% for i in niedostepne_jk %}
      $("#{{i}}").hide();
       {% endfor %}
   {% else %}
   {% for i in niedostepne_aw %}
      $("#{{i}}").hide();
       {% endfor %}
   {% endif %}


    {% if request.path == '/ada-wspaniala' %}
       $('#id_dietetyk').val(2)
       {% endif %}
});
    function handleSelect(id, godz){
    var godzina = id.slice(0, 5);
    var dzien = id.slice(4,5);
    $("#id_godzina").val(godz);
    $("#id_dzień").val(dzien);
    $("#godzina_tekst").text(godz);
    $("#dzien_tekst").text($("#id_dzień option:selected").text());
    $("#formi").show();
    $("#dietetykcard").get(0).scrollIntoView();
    }

</script>

<script>
    var frm = $('form#frm1');

   frm.submit(function (e) {

       e.preventDefault();

       $.ajax({
           type: frm.attr('method'),
           url: frm.attr('action'),
           data: frm.serialize(),
           success: function (data) {

           if (data['blad'] == 1) {
             $('#blad1').text(data['object'])
             $('#blad1').show();

           }
           else {
            $(location).attr('href',data['object']);

           }
           console.log(data['blad']);
           console.log(data['object']);
           },
           error: function (data) {
               console.log('An error occurred.');
           },
       });
   });
</script>
{% endblock %}
