{% extends 'rejestracja/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">

        <div class="col-sm-12 ">

            <div class="card mt-5 ">
                <div class="card-block">
                    <img class="d-block mx-auto mb-4" src="{% static 'img/doctor-male.jpg' %}"
                         alt="Dietetyk Jan Kowalski">
                    <div id="text-top">
                        <p class="text-center">Dietetyk </p>
                        <h1 class="text-center">Jan Kowalski</h1>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <section id="formi" class="hidden mb-5" style="display: none">
        <div class="card mt-5 mb-5">
            <div class="card-block pb-4">
                <h2 class="text-center mt-2">
                    Formularz rejestracji do dietetyka
                </h2>
                <h3 class="text-center">na godzinę <span id="godzina_tekst"></span></h3>
                <h4 class="text-center">w najbliższy <span id="dzien_tekst"></span></h4>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            {{forms.fietetyk.text }}
                        </div>
                        <div class="col">
                            <form class="text-center" method="POST" action="{{forms.dietetyk.url}}" >
                                {% csrf_token %}
                                {{forms.as_p}}
                                <input class="btn btn-success" type="submit" value="Zarejestruj">
                            </form>
                        </div>
                        <div class="col">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

<div class="container">
    <p class="text-center mt-4">Dostępne godziny rejestracji dla pacjentów</p>
    <p class="text-center ">Wybierz godzinę</p>
    <div class="row seven-cols">
        <div id="1" class="col-md-1"><p>Poniedziałek</p>
            {%for i in godziny%}
            <button onclick="handleSelect(this.id, this.innerText)" id="{{i | cut:':'}}1" class='btn btn-primary btn-xs btn-block'>{{i}}</button>
            {%endfor%}
        </div>
        <div class="col-md-1">
            <p>Wtorek</p>
            {%for i in godziny%}
            <button onclick="handleSelect(this.id, this.innerText)" id="{{i | cut:':'}}2" class='btn btn-primary btn-xs btn-block'>{{i}}</button>
            {%endfor%}
        </div>
        <div class="col-md-1">
            <p>Środa</p>
            {%for i in godziny%}
            <button onclick="handleSelect(this.id, this.innerText)" id="{{i | cut:':'}}3" class='btn btn-primary btn-xs btn-block'>{{i}}</button>
            {%endfor%}
        </div>
        <div class="col-md-1">
            <p>Czwartek</p>
            {%for i in godziny%}
            <button onclick="handleSelect(this.id, this.innerText)" id="{{i | cut:':'}}4" class='btn btn-primary btn-xs btn-block'>{{i}}</button>
            {%endfor%}
        </div>
        <div class="col-md-1">
            <p>Piątek</p>
            {%for i in godziny%}
            <button onclick="handleSelect(this.id, this.innerText)" id="{{i | cut:':'}}5" class='btn btn-primary btn-xs btn-block'>{{i}}</button>
            {%endfor%}
        </div>
        <div class="col-md-1">
            <p>Sobota</p>
            {%for i in godziny%}
            <button onclick="handleSelect(this.id, this.innerText)" id="{{i | cut:':'}}6" class='btn btn-primary btn-xs btn-block'>{{i}}</button>
            {%endfor%}
        </div>
        <div class="col-md-1">
            <p>Niedziela</p>
            {%for i in godziny%}
            <button onclick="handleSelect(this.id, this.innerText)" id="{{i | cut:':'}}7" class='btn btn-primary btn-xs btn-block'>{{i}}</button>
            {%endfor%}
        </div>
    </div>
</div>


<script>
  $(document).ready(function(){
    {% for i in niedostepne %}
      $("#{{i}}").hide();
     {% endfor %}
});
    function handleSelect(id, godz){
    var godzina = id.slice(0, 5);
    var dzien = id.slice(4,5);
    $("#id_godzina").val(godz);
    $("#id_dzień").val(dzien);
    $("#godzina_tekst").text(godz);
    $("#dzien_tekst").text($("#id_dzień option:selected").text());
    $("#formi").show();
    }

</script>
{% endblock %}
