


.bg-black{
    background-color:#000!important
}

.navbar-custom{
    padding-top:1rem;
    padding-bottom:1rem;
    background-color:rgba(0,0,0,.7)
}
.navbar-custom .navbar-brand{
    text-transform:uppercase;
    font-size:1rem;
    letter-spacing:.1rem;
    font-weight:700
}
.navbar-custom .navbar-nav .nav-item .nav-link{
    text-transform:uppercase;
    font-size:.8rem;
    font-weight:700;
    letter-spacing:.1rem
}
  @media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}
@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
flex:none !important;
  }
}

@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
flex:none !important;
  }
}

